.project-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
}

.github {
    border: 2px solid #252934;
    font-weight: 500;
    color: #252934;
    text-align: center;
    transition: all 0.5s;
    width: auto !important;
}

.github:hover {
    color: #252934;
    background-color: #04c2c9;
}

@media (max-width: 450px) {
    .project-container {
        display: flex;
        flex-direction: column;
    }

    .github {
        width: 80% !important;
        font-size: 17px;
    }
}
