.project-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
}

/* @media (min-width: 600px) {
    .project-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 900px) {
    .project-container {
        grid-template-columns: repeat(6, 1fr);
    }
}
 */
