.bar-chart {
    display: flex;
    flex-direction: row;
    height: 5vh;
    padding: 10px;
    font-size: 1rem;
}

.bar-chart-title {
    width: 20%;
    height: 2.8vh;
    align-items: flex-start;
    background-color: #04c2c9;
    /* animation: fadein 1s infinite alternate; */
}

p {
    text-align: center;
    line-height: 3.5vh;
}

.bar-chart-div {
    width: 60%;
    background-color: #eee;
}

.animated-bar-chart-width {
    background-color: #00a1a7;
    height: 2.7vh;
    animation: fadein 2s
}

.animated-bar-chart-procent {
    width: 10%;
    background-color: #eee;
    line-height: 3.5vh;
}

@keyframes fadein {
    0% {
        width: 0;
    }

    100% {
        width: 100;
    }
}
