.section-title {
    font-weight: 600;
    font-size: 35px;
    text-transform: uppercase;
    margin: 25px 0 25px 0;
}

.section-title p {
    margin-bottom: -20px;
}

.section-title-line {
    height: 3px;
    margin: 20px 20px 0 20px;
}
