.button,
.git-button {
    border: 2px solid #fff;
    padding: 10px 20px;
    background-color: #252934;
    color: #fff;
    transition: 0.3s;
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: bolder;
    animation: fadein 2s;
}

.button:hover,
.git-button:hover {
    background: #04c2c9;
    color: #fff;
    animation: fadein 2s;
}

.icon {
    transition: 0.3s;
}

.button:hover .icon {
    transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    color: #fff;
}

.button-span {
    padding-right: 15px;
}

.git-button:hover .icon {
    position: relative;
    animation: arrow 0.7s infinite;
    color: #fff;
}

@keyframes arrow {
    0% {
        left: 0px;
        opacity: 0.4;
    }

    100% {
        left: 10px;
        opacity: 1;
    }
}
