.project-card {
    position: relative;
    margin: 5px;
}

.card-img {
    max-width: 100%;
    max-height: 100%;
    display: block;
}

/* .card-img:hover {
    opacity: 0.4;
} */

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #e6e6e6;
    border: 0.5rem solid #04c2c9;
}

.project-card:hover .overlay {
    opacity: 1;
}

.card-disc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.title {
    font-size: 1.5rem;
    font-weight: 500;
}

.card-button {
    font-weight: 1000;
    font-size: 1.2rem;
}

.card-button {
    border: 0.3em solid #04c2c9;
    border-radius: 30px;
    font-weight: 500;
    color: #000;
    text-align: center;
    transition: all 0.3s;
    /* text-transform: uppercase; */
}

.card-button:hover {
    color: #000;
    background-color: #04c2c9;
}

.disc {
    color: #000;

    font-weight: 400;
}
