.welocme-button {
    padding-top: 40px;
}

.button {
    border: 2px solid #fff;
    padding: 10px 20px;
    background-color: #252934;
    color: #fff;
    transition: 0.3s;
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: bolder;
}

.button:hover {
    background: #04c2c9;
    color: #fff;
}

.icon {
    transition: 0.3s;
}

.button:hover .icon {
    transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
}
