.row {
    display: flex;
    font-family: 'Raleway' !important;
    justify-content: center;
}

.card-body {
    background-color: #1e242c;
}

.form-control {
    background-color: #252934 !important;
    color: #fff !important;
    border: none !important;
    box-shadow: none !important;
    resize: none !important;
}

.Ripple {
    color: #fff !important;
}

.btn-default {
    color: #04c2c9 !important;
    border-top-color: #04c2c9 !important;

}

.text-center {
    margin-bottom: -25px !important;
}

.container {
    height: 200px !important;
}
