.competence-div {
    display: flex;
    flex: row;
    margin: 0 5% 0 0;
    font-size: 10pt;
}

.circle {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #04c2c9;
    border-radius: 30%;
    width: 80px;
    height: 80px;
}

.icon-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.competence-icon {
    display: flex;
    justify-content: center;
}

@media (max-width: 450px) {
    .competence-div {
        display: flex;
        flex-direction: column;
        margin: 5% 5% 5% 5%;
        font-size: 16px;
    }

    .circle {
        width: 65px;
        height: 65px;
    }

    .icon-div {
        margin-top: 20px;
    }
}
